bin/arm-toolchain-bin*
bin/espruino*
bin/node*
bin/elua*

scripts/rpi-serial-console

src/CMSIS_StdPeriph/
src/elua/
src/esp-cli/
src/Espruino/
src/libmaple/
src/libopencm3-examples/
src/openocd-arminarm/
src/stlink/
src/dfu-util/
